services:
  app:
    build: .
    ports:
     - "5001:5001"
    networks:
     - inventory-app-nw
    depends_on:
      db:
        condition: service_healthy
        
    restart: on-failure
  
  db:
    image: mariadb:10.6
    ports:
      - "3308:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: inventory_db
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inventory-app-nw
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
      interval: 10s
      start_period: 40s

volumes:
  mariadb_data:

networks:
  inventory-app-nw:
    driver: bridge