version: '3.9'
services:
  app:
    build: .
    ports:
      - "3000:3000"
    networks:
      - notes-app-nw
    depends_on:
      db:
        condition: service_healthy
    restart: on-failure

  db:
    image: mysql:8.0
    environment:
     MYSQL_ROOT_PASSWORD: root 
     MYSQL_DATABASE: notes_db
    networks:
      - notes-app-nw
    ports:
     - "3306:3306"
    volumes:
     - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
      interval: 10s
      start_period: 40s

networks:
  notes-app-nw:
    driver: bridge

volumes:
  mysql_data:
  